<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4>商品編集</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal" role="form">
        <div class="form-group" ng-class="{'has-error': hasError('shopName')}">
            <label for="menuItem.shop_name" class="col-sm-3 control-label">店名</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="menuItem.shop_name" ng-model="menuItem.shopName">
                <span class="help-block" id="error.menuItem.shop_name">{{errors.shopName}}</span>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': hasError('category')}">
            <label class="col-sm-3 control-label">カテゴリ</label>
            <div class="col-sm-9">
                <div class="btn-group">
                    <button type="button" class="btn btn-default category" ng-class="{active: menuItem.category == 'bento'}" ng-click="setCategory('bento')">弁当</button>
                    <button type="button" class="btn btn-default category" ng-class="{active: menuItem.category == 'side'}"  ng-click="setCategory('side')">サイドメニュー</button>
                </div>
                <span class="help-block" id="error.menuItem.category">{{errors.category}}</span>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': hasError('name')}">
            <label for="menuItem.name" class="col-sm-3 control-label">商品名</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="menuItem.name" ng-model="menuItem.name">
                <span class="help-block" id="error.menuItem.name">{{errors.name}}</span>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': hasError('fixedOnOrder')}">
            <label for="menuItem.fixed_on_order" class="col-sm-3 control-label">注文(定価)</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="menuItem.fixed_on_order" ng-model="menuItem.fixedOnOrder">
                <span class="help-block" id="error.menuItem.fixed_on_order">{{errors.fixedOnOrder}}</span>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': hasError('discountOnOrder')}">
            <label for="menuItem.discount_on_order" class="col-sm-3 control-label">注文(割引額)</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="menuItem.discount_on_order" ng-model="menuItem.discountOnOrder">
                <span class="help-block" id="error.menuItem.discount_on_order">{{errors.discountOnOrder}}</span>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': hasError('code')}">
            <label for="menuItem.code" class="col-sm-3 control-label">商品コード</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="menuItem.code" ng-model="menuItem.code">
                <span class="help-block" id="error.menuItem.code">{{errors.code}}</span>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': hasError('status')}">
            <label class="col-sm-3 control-label">ステータス</label>
            <div class="col-sm-9">
                <div class="btn-group">
                    <button type="button" class="btn btn-default status" ng-class="{active: menuItem.status == 'valid'}"     ng-click="setStatus('valid')">有効</button>
                    <button type="button" class="btn btn-default status" ng-class="{active: menuItem.status == 'stopped'}"   ng-click="setStatus('stopped')">停止</button>
                    <button type="button" class="btn btn-default status" ng-class="{active: menuItem.status == 'suspended'}" ng-click="setStatus('suspended')">休眠</button>
                </div>
                <span class="help-block" id="error.menuItem.status">{{errors.status}}</span>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <div class="pull-right">
        <button class="btn btn-default" id="menuItem.cancel" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" id="menuItem.ok" ng-click="save()">OK</button>
    </div>
</div>
