<div class="content menu-item-import col-xs-12 col-sm-12 col-md-12">

    <div class="content-header row">
        <div class="nav-bar col-xs-12 col-sm-12 col-md-12" ng-include="'/views/admin/_header'" ng-controller="AdminHeaderController"></div>
    </div>

    <div class="content-body row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <form class="form-horizontal" role="form" name="menuItemsForm">
                <div class="form-group">
                    <label for="menu-items" class="col-sm-2 control-label">商品データ</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">
                    <span class="btn btn-success fileinput-button">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>参照</span>
                        <input type="file" ng-disabled="" id="menu-items" name="menuItems" data-url="/api/v1.0/menu-items">
                    </span>
                            {{uploadFileDescription()}}
                        </p>
                        <p class="help-block">CSVファイル(文字コードはUTF-8)を指定してください</p>
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default" ng-click="bulkImport();">登録</button>
                    </div>
                </div>
            </form>
            <span us-spinner spinner-key="spinner" style="position: absolute;display: block;top: 100px;left: 50%;"></span>
        </div>
    </div>
</div>