
<div class="content">
    <div ng-include="'/views/admin/_header'" ng-controller="AdminHeaderController"></div>
    <div class="content-body">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <p class="navbar-text">お弁当</p>
                </div>
                <div class="navbar-collapse">
                    <button type="button" class="btn btn-default navbar-btn" disabled="disabled">肉</button>
                    <button type="button" class="btn btn-default navbar-btn" disabled="disabled">魚</button>
                    <button type="button" class="btn btn-default navbar-btn" disabled="disabled">人気</button>
                    <button type="button" class="btn btn-default navbar-btn" disabled="disabled">新入荷</button>
                    <button type="button" class="btn btn-info navbar-btn" ng-click="selectShops()">店 : {{renderFilterShop()}}</button>
                </div>
            </div>
        </nav>

        <div class="row">
            <div class="col-md-12">
                <div class="pull-right" style="margin-right:1.5em; margin-bottom:0.5em;">
                    <button class="btn btn-info" id="addItem" ng-click="addItem()">商品を追加する</button>
                </div>
            </div>
            <div class="col-md-12">
                <p class="no-data" ng-show="menuItems.length === 0">商品がありません。</p>
                <table class="table table-bordered table-striped menu-items" ng-show="menuItems.length > 0">
                    <thead>
                    <tr>
                        <th class="id col-md-1">ステータス</th>
                        <th class="shop_name col-md-3">店名</th>
                        <th class="name col-md-1">カテゴリ</th>
                        <th class="name col-md-4">品名</th>
                        <th class="price_on_order col-md-1">注文価格</th>
                        <th class="edit col-md-1">編集</th>
                        <th class="delete col-md-1">削除</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr id="menu-item-{{menuItem.id}}" ng-repeat="menuItem in menuItems | orderBy:['shopName', 'name']">
                        <td class="id">{{menuItem.status}}</td>
                        <td class="shop_name">{{menuItem.shopName}}</td>
                        <td class="id">{{menuItem.category}}</td>
                        <td class="name">{{menuItem.name}}</td>
                        <td class="price_on_order">{{menuItem.priceOnOrder}}</td>
                        <td class="edit"><button class="btn btn-info" ng-click="editItem(menuItem)">編集</button></td>
                        <td class="delete"><button class="btn btn-danger" disabled>削除</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
