<div class="content menu-item-index col-xs-12 col-sm-12 col-md-12">

    <div class="content-header row">
        <div class="nav-bar col-xs-12 col-sm-12 col-md-12" ng-include="'/views/admin/_header'" ng-controller="AdminHeaderController"></div>
    </div>

    <div class="content-body row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <p class="navbar-text">お弁当</p>
                    </div>
                    <div class="navbar-collapse">
                        <button type="button" class="btn btn-default navbar-btn" disabled="disabled">肉</button>
                        <button type="button" class="btn btn-default navbar-btn" disabled="disabled">魚</button>
                        <button type="button" class="btn btn-default navbar-btn" disabled="disabled">人気</button>
                        <button type="button" class="btn btn-default navbar-btn" disabled="disabled">新入荷</button>
                        <button type="button" class="btn btn-info navbar-btn" ng-click="selectShops()">店 : {{renderFilterShop()}}</button>
                    </div>
                </div>
            </nav>

            <div style="width:100%;">

                <div>
                    <div style="text-align: right">
                        <button class="btn btn-info" id="addItem" ng-click="addItem()">商品を追加する</button>
                    </div>
                    <p class="no-data" ng-show="menuItems.length === 0">商品がありません。</p>
                </div>

                <table class="table table-bordered table-striped menu-items" ng-show="menuItems.length > 0">
                    <thead>
                    <tr>
                        <th class="number" width="5%">No.</th>
                        <th class="status" width="5%">ステータス</th>
                        <th class="shop_name" width="15%">店名</th>
                        <th class="category" width="5%">カテゴリ</th>
                        <th class="name" width="30%">品名</th>
                        <th class="fixed_on_order">注文<br>(定価)</th>
                        <th class="discount_on_order">注文<br>(割引)</th>
                        <th class="reduced_on_order">注文<br>(実売)</th>
                        <th class="fixed_on_purchase_exc_tax">発注<br>(税抜)</th>
                        <th class="fixed_on_purchase_inc_tax">発注<br>(税込)</th>
                        <th class="edit" width="5%">編集</th>
                        <th class="delete" width="5%">削除</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr id="menu-item-{{menuItem.id}}" ng-repeat="menuItem in menuItems | orderBy:['shopName', 'itemNumber', 'name'] track by $index">
                        <td class="number">{{$index + 1}}</td>
                        <td class="status">{{menuItem.status}}</td>
                        <td class="shop_name">{{menuItem.shopName}}</td>
                        <td class="category">{{menuItem.category}}</td>
                        <td class="name">{{menuItem.name}}</td>
                        <td class="fixed_on_order price">{{menuItem.fixedOnOrder}}</td>
                        <td class="discount_on_order price">{{menuItem.discountOnOrder}}</td>
                        <td class="reduced_on_order price">{{menuItem.reducedOnOrder}}</td>
                        <td class="fixed_on_purchase_exc_tax price">{{menuItem.fixedOnPurchaseExcTax}}</td>
                        <td class="fixed_on_purchase_inc_tax price">{{menuItem.fixedOnPurchaseIncTax}}</td>
                        <td class="edit"><button class="btn btn-info" ng-click="editItem(menuItem)">編集</button></td>
                        <td class="delete"><button class="btn btn-danger" disabled>削除</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
