
<div class="content">
    <div ng-include="'/views/admin/_header'" ng-controller="AdminHeaderController"></div>
    <div>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <p class="navbar-text">お弁当</p>
                </div>
                <div class="navbar-collapse">
                    <button type="button" class="btn btn-default navbar-btn" disabled="disabled">肉</button>
                    <button type="button" class="btn btn-default navbar-btn" disabled="disabled">魚</button>
                    <button type="button" class="btn btn-default navbar-btn" disabled="disabled">人気</button>
                    <button type="button" class="btn btn-default navbar-btn" disabled="disabled">新入荷</button>
                    <button type="button" class="btn btn-info navbar-btn" ng-click="select_shops()">店 : {{render_filter_shop()}}</button>
                </div>
            </div>
        </nav>

        <div>
            <div class="pull-right" style="margin-right:1.5em; margin-bottom:0.5em;">
                <button class="btn btn-info" ng-click="add_item()">商品を追加する</button>
            </div>
            <div ng-show="menu_items.length === 0">
                <p class="no-data">商品がありません。</p>
            </div>
            <table class="table table-bordered table-striped menu-items" ng-show="menu_items.length > 0">
                <thead>
                    <tr>
                        <th class="id col-md-1">ステータス</th>
                        <th class="shop_name col-md-3">店名</th>
                        <th class="name col-md-1">カテゴリ</th>
                        <th class="name col-md-4">品名</th>
                        <th class="price_on_order col-md-1">注文価格</th>
                        <th class="edit col-md-1">編集</th>
                        <th class="delete col-md-1">削除</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="menu-item-{{menu_item.id}}" ng-repeat="menu_item in menu_items | orderBy:['shop_name', 'name']">
                        <td class="id">{{menu_item.status}}</td>
                        <td class="shop_name">{{menu_item.shop_name}}</td>
                        <td class="id">{{menu_item.category}}</td>
                        <td class="name">{{menu_item.name}}</td>
                        <td class="price_on_order">{{menu_item.price_on_order}}</td>
                        <td class="edit"><button class="btn btn-info" ng-click="edit_item(menu_item)">編集</button></td>
                        <td class="delete"><button class="btn btn-danger" disabled>削除</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
