<div class="content admin-checklist-weekly col-xs-12 col-sm-12 col-md-12">

    <div class="content-header no-print row">
        <div class="nav-bar col-xs-12 col-sm-12 col-md-12" ng-include="Assets.versioned('/views/admin/_header')"></div>
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="title">チェック表</div>
        </div>
    </div>

    <div class="content-body row">
        <div class="checklist print-page col-md-12" ng-class="{'no-print' : !vm.needPrint(group) }" id="checklist-{{group.targetDate.format('YYYYMMDD')}}" ng-repeat-start="group in vm.groupedList track by $index">
            <div class="checklist-header">{{group.targetDate.format("M月D日 (ddd曜日)")}}
                <span class="print-header-title visible-print">チェック表</span>
            </div>
            <div class="checklist-body">
                <div oot-checklist-detail dailymenu="group.dailyMenu" dailyorders="group.dailyOrders"></div>
            </div>
        </div>
        <div class="page-break" ng-repeat-end ng-if="vm.needPageBreak($last, group, $index)">
            <span>---</span>
        </div>
    </div>

</div>
