<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()">&times;</button>
    <h4>注文修正 {{vm.dailyMenu.menuDate.format('YYYY/MM/DD (ddd)')}}</h4>
</div>
<div class="modal-body">
    <div>
        <table class="table table-bordered table-condensed table-edit-order" id="table_edit_order">
            <thead>
            <tr>
                <th class="user-name">氏名</th>
                <th class="food-name" ng-repeat="item in vm.dailyMenu.detailItems">
                    <span class="shop-name">{{item.menuItem.shopName}}</span>　<span class="food-name-with-reduced-price">{{item.menuItem.itemNumber}} {{item.menuItem.name}}　<span oot-reduced-price menu-item="item.menuItem"></span></span>                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="checkItem in vm.checklist">
                <td class="user-name">{{checkItem.userName}}</td>
                <td class="order-status" ng-click="vm.editItem(checkItem.order, item.menuItem, checkItem.orderStatuses)" ng-repeat="item in vm.dailyMenu.detailItems">
                    <div class="pull-right">
                        <span class="glyphicon glyphicon-remove" style="font-size:150%;" ng-click="vm.deleteItem(checkItem.order, item.menuItem, checkItem.orderStatuses, $event)" ng-show="checkItem.orderStatuses[item.menuItem.id].numOrders !== undefined"></span>
                    </div>
                    {{checkItem.orderStatuses[item.menuItem.id].numOrders}}
                </td>
            </tr>
            </tbody>
        </table>
        <button class="btn btn-info btn-add-user" ng-click="vm.addUser()">注文者追加</button>
    </div>
</div>
