<div ng-show="menuOrOrderIsEmpty()">
    <p class="no-data">メニューまたは注文がありません。</p>
</div>

<div ng-show="!menuOrOrderIsEmpty()">
    <table class="table table-bordered table-condensed checklist" id="checklist">
        <thead>
        <tr>
            <th class="number" width="3%">番号</th>
            <th class="user-name" width="20%">氏名</th>
            <th class="food-name" ng-repeat="item in itemlist" width="{{80/itemlist.length}}%"><span class="shop-name">{{item.shopName}}</span>　<span class="food-name-with-reduced-price">{{item.itemNumber}} {{item.name}}　<span oot-reduced-price menu-item="item"></span></span></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-class="(checkitem.orderGroup % 2 === 0) ? 'order-group-even' : 'order-group-odd'" ng-repeat="checkitem in checklist.detailItems track by $index">
            <td class="number">{{$index+1}}</td>
            <td class="user-name">{{checkitem.userName}}</td>
            <td class="order-status" ng-repeat="item in itemlist">{{renderNumOrders(checkitem.orderStatuses[item.id].numOrders)}}</td>
        </tr>
        </tbody>
    </table>
</div>
