
/*
    http://www.irasutoya.com/
 */

*{
    font-family: Meiryo;
}
body{
    margin: 0px;
    border: none;
}

th.count,
th.price,
td.count,
td.price {
    text-align: right;
}

.clear {
    clear: both;
}

.message {
    margin: 1em;
}

.divider {
    padding: 0.2em 1em;
    margin: 0.5em -0.5em;
    font-size: 1.5em;
    background-color: #dcf0c1;
}

.no-data {
    margin: 1.5em;
    padding: 1.0em;
    font-size: larger;
    color:#b94a48;
    background-color:#f2dede;
    border-color:#eed3d7;

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.page-header{
    border-top: solid 5px #92D13D;
    background-image: url('/assets/images/common/syoukadou_obentou.png');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: contain;
}

.page-header h1{
    margin-left: 90px;
    vertical-align: middle;
    float: left;
}

.page-header .right-ctrl {
    margin: 0.5em;
    float: right;
}
.page-header .right-ctrl > div{
    float: left;
}
.page-header .right-ctrl .user-name{
    margin-right: 1.5em;
    line-height: 33px;
}
.page-header .right-ctrl .logout{
    background-color: #92D13D;

    font-size: 0.8em;
    color: white;
    padding: 0.5em 1em;
    width: 80px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.page-footer {
    background-color: #454545;
}

.page-footer {
    background-color: #343434;
    color: white;
    margin-top: 2em;
    text-align: right;
}
.page-footer > div{
    margin: 0.5em;
}

.button {
    background-color: #92D13D;

    color: white;
    padding: 0.5em 1em;
    width: 160px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.content-header {
    background-color: #92D13D;

    color: white;
    padding: 0.5em 1em;
    font-size: 2em;
    margin-bottom: 10px;
}

.content .day .day-header {
    background-color: #92D13D;

    color: white;
    padding: 0.5em 1em;
    font-size: 2em;
}

.content .day .day-header .date{
    float: left;
}
.content .day .day-header .small-total{
    float: right;
}

.food-price{
    text-align: right;
}

.food-image {
    position: relative;
    border: none;
}

.food-image {
    /* 注文中マークのサイズを最低サイズとする*/
    min-width: 250px;
    min-height: 140px;
}

.food-image .thumbnail {
    border: none;
}

.food-image .pop-rt{
    position: absolute;
    right: -30px;
    top: -30px;
}

.food-image .pop-lt{
    position: absolute;
    left: -30px;
    top: -30px;
}

.caption .shop-name, .caption .food-name {
    font-size: 1.3em;
    padding: 0.4em;
}
.caption .food-name {
    background-color: #dcf0c1;
}

.label-category {
    background-color: #C9F18E;
    color: #59920A;

    display: inline-block;
    font-size: 1.5em;
    border-radius: 0;
}

.menu-item,
.menu-item-sm {
    position: relative;
}

.menu-item-sm {
    font-size: 80%;
}

.menu-item .food-image .thumbnail,
.menu-item-sm .food-image .thumbnail {
    margin-bottom: 0px;
}

.menu-item .comment,
.menu-item-sm .comment {
    background-color: #76B91B;
    display:inline-block;
    margin: 0 5px 0 20%;
    padding-top:5px;
    padding-bottom:5px;
    font-size: 1.2em;
    position:relative;
    white-space: normal;
    text-align: left;
}

.menu-item .comment:after,
.menu-item-sm .comment:after {
    content: ' ';
    width:0;
    height: 0;
    position:absolute;
    border:10px solid transparent;
    border-bottom-color:#76B91B;
    bottom:100%;
    left:35%;
}

.menu-item-sm .food-image img {
    max-width: 150px;
    height: auto;
}

.menu-item-sm.empty {
    background: #DDDDDD;
    font-size: 1.2em;
    height: 210px;
}

.menu-item-sm.empty .tile {
    text-align: center;
    margin-top: 90px; /* テキストを縦中央に配置する方法が分からない… */
}

.menu-item-list {
    line-height: normal;
    padding: 0px;
}

.menu-item-list .menu-item-container{
    margin: 2.5px 0px;
    padding-left: 5px;
    padding-right: 5px;
}

.menu-item-list .menu-item,
.menu-item-list .menu-item-sm {
    border: solid 4px #DDDDDD;
    border-radius: 10px;
    cursor: pointer;
}

.menu-item-list .menu-item .num-orders {
    position: absolute;
    top: 3px;
    right: 3px;
}

.menu-item-list .menu-item .num-orders .btn {
    font-size: 80%;
    padding: 3px 7px;
    vertical-align: top;
}

.menu-item-list .menu-item .num-orders .badge {
    font-size: 150%;
    vertical-align: top;
}

.user-info {
    position: absolute;
    top: 50px;
    right: 1em;
}

.login-form {
    margin: 1em;
    text-align: center;
}

/*
   172   bde38a
   204   dcf0c1
*/



.order-management .title {
    margin: 0.5em;
    font-size: 1.5em;
}
.order-management .day {
    margin: 0.5em;
}

.order-management .order-summary {
    width: 350px;
    margin-left:10px;
    float: left;
}
.order-management .order-summary th,
.order-management .order-summary td {
    padding: 0.5em;
}

.order-management .commands {
    float: left;
    margin-left:10px;
    padding-left:0px;
    width: 570px;
}
.order-management .commands li {
    float: left;
    margin: 0.5em;
    width: 160px;
    list-style-type: none;
}

.checklist {
    border-collapse: collapse;
}

.checklist .shop-name {
    border-bottom: none;
}

.checklist .item-name {
    border-top: none;
    border-bottom: none;
}

.checklist .user-name {
    white-space: nowrap;
}

.checklist .price {
    border-top: none;
}

.checklist .order-status {
    text-align: center;
    vertical-align: middle;
    font-size: 130%;
}

.checklist .order-group-even {
    background-color: #e9e9e9;
}

/* AngularJS用 */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* 印刷用 */
@media print {
    /* ヘッダとフッタは印刷しない */
    .page-header, .page-footer {
        display: none;
    }
}

/*
 * Bootstrap打消し用
 */
.page-header{
    margin-top: 0px;
}


/*
 * 暫定「注文中」アイコン
 */
.menu-item.ordered {
    position: relative;
    border-color: #F3BFD6;
}

.ordered-mark {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 250px;
    height: 140px;
    z-index: 10;
}

.selected-mark {
    position: absolute;

    width: 100%;
    height: 100%;

    left: 0px;
    top: 0px;
    z-index: 10;

    background-color: #d3d3d3;

    text-align: center;

    opacity: 0.5;
    -ms-filter: "alpha(opacity=50)";
}

.selected-mark:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

.selected-mark p {
    display: inline-block;
    vertical-align: middle;
    width: 100%;

    font-size: 3em;
    font-weight: bold;
}

.reset-item {
    position:absolute;
    top:-0.3em;
    right:0px;
    font-size:200%;
}

.ordered .food-name {
    background-color: #F3BFD6;
}

.ordered .comment {
    background-color: #F3BFD6;
    color: firebrick;
}
.ordered .comment:after {
    border-bottom-color:#F3BFD6 !important;
}

/* ダッシュボード */
.dashboard .week-info.panel .panel-heading {
    font-size: 120%;
    font-weight: bold;
}

/* 注文 */
.category-header .label-category {
    text-align: left;
    padding: 0.3em 0.5em;
    padding-left: 1.5em;
}

.category-body {
    margin-top: 10px;
    margin-bottom: 20px;
}

/* 注文サマリ */
div.order-summary {
    margin-bottom: 5px;
}

div.order-summary-body {
    margin-bottom: 0;
}

table.order-summary {
    margin-bottom: 0;
}

table.order-summary th.day {
    width:20%;
}

table.order-summary th.day div.total-reduced-on-order {
    position: absolute;
    right: 0;
    top: 0;
}

table.order-summary td {
    padding-bottom: 0;
}

table.order-summary td img {
    float: left;
    margin-right: 5px;
}

table.order-summary td p.order-first-item {
    overflow: hidden;
    margin-bottom: 2px;
}

table.order-summary td div.order-other-items {
    text-align:right;
}

/* 注文確認シート */
.purchase-order-confirmation {
    margin-bottom: 20px;
}

.purchase-order-confirmation-header {
    font-size: 1.5em;
    font-weight: bold;
}

.purchase-order-confirmation-body {
    padding: 10px 0;
}

.purchase-order-confirmation-body .no-data {
    margin: 0 1.5em;
}

.purchase-order-confirmation-body table thead tr {
    background-color: #c9f18e;
    color: #59920a;
}

/* Bootstrap補助 */
ul.nav-pills li.divider {
    margin: 2px 9px;
    height: 1.5em;
    padding: 1.5px;
    background-color: #e5e5e5;
}

.badge-primary {
    background-color: #428bca;
    border-color: #357ebd;
    color: #fff;
}

