
/* AngularJS用 */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/*
 * Bootstrap打消し用
 */
.page-header{
    margin-top: 0px;
}

/* http://www.irasutoya.com/ を参考に */
/* Bootstrap補助 */
ul.nav-pills li.divider {
    margin: 2px 9px;
    height: 1.5em;
    padding: 1.5px;
    background-color: #e5e5e5;
}

.badge-primary {
    background-color: #428bca;
    border-color: #357ebd;
    color: #fff;
}

/* モーダルダイアログのFormで利用するラベル */
.modal-body form .control-label {
    padding-left:  5px;
    padding-right: 5px;
}

/* ui.bootstrap 補助 */
/* tooltipのサイズを拡張 */
.tooltip-inner {
    width: 8em;
}

/* アプリ独自 */

*{
    font-family: Meiryo;
}

body{
    margin: 0px;
    border: none;
}

th.count,
th.price,
td.count,
td.price,
td.number {
    text-align: right;
}

.help-block {
    text-align: left;
}

.clear {
    clear: both;
}

.message {
    margin: 1em;
}

.divider {
    padding: 0.2em 1em;
    margin: 0.5em -0.5em;
    font-size: 1.5em;
    background-color: #dcf0c1;
}

.no-data {
    margin: 1.5em;
    padding: 1.0em;
    font-size: larger;
    color:#b94a48;
    background-color:#f2dede;
    border-color:#eed3d7;

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.page-header{
    margin-bottom: 10px;
    border-top: solid 5px #92D13D;
    background-image: url('/assets/images/common/syoukadou_obentou.png');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: contain;
}

.page-header h1{
    margin-left: 90px;
    vertical-align: middle;
    float: left;
}

.page-footer {
    background-color: #454545;
}

.page-footer {
    background-color: #343434;
    color: white;
    margin-top: 20px;
    text-align: right;
}
.page-footer > div{
    margin: 0.5em;
}

.button {
    background-color: #92D13D;

    color: white;
    padding: 0.5em 1em;
    width: 160px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.header-nav {
    list-style: outside none none;
}

.header-nav-item {
    display: inline;
}

#user-links {
    position: absolute;
    top: 50px;
    right: 20px;
}

.user-link {
    height: 29px;
}

.btn-signout,
.btn-glyphicon {
    font-size: 120%;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#99ffffff,EndColorStr=#99ffffff);/*IE8以下用*/
}

.content-header > div {
    padding-left: 0px;
    padding-right: 0px;
}

.content-header .title {
    width: 100%;
    padding: 0.5em 1em;
    background-color: #92D13D;
    color: white;
    font-size: 2em;
    margin-bottom: 10px;
}

.content .day .day-header {
    background-color: #92D13D;

    color: white;
    padding: 0.5em 1em;
    font-size: 2em;
}

.content .day .day-header .date{
    float: left;
}
.content .day .day-header .small-total{
    margin-left: 10px;
    float: left;
}

.food-price{
    text-align: right;
}

.food-image {
    position: relative;
    border: none;
}

.food-image {
    /* 注文中マークのサイズを最低サイズとする*/
    min-width: 250px;
    min-height: 140px;
}

.food-image .thumbnail {
    border: none;
}

.food-image .pop-rt{
    position: absolute;
    right: -30px;
    top: -30px;
}

.food-image .pop-lt{
    position: absolute;
    left: -30px;
    top: -30px;
}

.caption .shop-name,
.caption .food-name,
.caption .food-price {
    font-size: 1.3em;
    padding: 0.4em;
}

.caption .food-name {
    background-color: #dcf0c1;
    font-weight: bold;
}

.label-category {
    background-color: #C9F18E;
    color: #59920A;

    display: inline-block;
    font-size: 1.5em;
    border-radius: 0;
}

.menu-item,
.menu-item-sm {
    position: relative;
}

.menu-item-sm {
    font-size: 80%;
}

.menu-item .food-image .thumbnail,
.menu-item-sm .food-image .thumbnail {
    margin-bottom: 0px;
}

.menu-item .comment,
.menu-item-sm .comment {
    background-color: #76B91B;
    display:inline-block;
    margin: 0 5px 0 20%;
    padding-top:5px;
    padding-bottom:5px;
    font-size: 1.2em;
    position:relative;
    white-space: normal;
    text-align: left;
}

.menu-item .comment:after,
.menu-item-sm .comment:after {
    content: ' ';
    width:0;
    height: 0;
    position:absolute;
    border:10px solid transparent;
    border-bottom-color:#76B91B;
    bottom:100%;
    left:35%;
}

.menu-item-sm .food-image img {
    max-width: 150px;
    height: auto;
}

.menu-item-sm.empty {
    background: #DDDDDD;
    font-size: 1.2em;
    height: 210px;
}

.menu-item-sm.empty .tile {
    text-align: center;
    margin-top: 90px; /* テキストを縦中央に配置する方法が分からない… */
}

.menu-item-list {
}

.menu-item-list .menu-item-container{
    margin-top: 5px;
    margin-bottom: 5px;
}

.menu-item-list .menu-item,
.menu-item-list .menu-item-sm {
    border: solid 4px #DDDDDD;
    border-radius: 10px;
    cursor: pointer;
}

.menu-item-list .menu-item .num-orders {
    position: absolute;
    top: 5px;
    right: 5px;
}

.menu-item-list .menu-item .num-orders .badge {
    font-size: 130%;
    vertical-align: top;
}

.login-form {
    text-align: center;
}

.checklist {
    border-collapse: collapse;
}

.checklist .shop-name {
    border-bottom: none;
}

.checklist .item-name {
    border-top: none;
    border-bottom: none;
}

.checklist .number {
    white-space: nowrap;
}

.checklist .user-name {
    white-space: nowrap;
}

.checklist .price {
    border-top: none;
}

.checklist .order-status {
    text-align: center;
    vertical-align: middle;
    font-size: 130%;
}

.checklist .order-group-even {
    background-color: #e9e9e9;
}

.reset-item {
    position:absolute;
    top:-0.3em;
    right:0px;
    font-size:200%;
}

.menu-item.ordered {
    position: relative;
    border-color: #F3BFD6;
}

.order-rank {
    position: absolute;
    top:5px;
    left:5px;
}

.ordered-mark {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    margin: auto;
    width: 250px;
    height: 140px;
    z-index: 10;
    vertical-align: top;
}

.selected-mark {
    position: absolute;

    width: 100%;
    height: 100%;

    left: 0px;
    top: 0px;
    z-index: 10;

    background-color: #d3d3d3;

    text-align: center;

    opacity: 0.5;
    -ms-filter: "alpha(opacity=50)";
}

.selected-mark:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

.selected-mark p {
    display: inline-block;
    vertical-align: middle;
    width: 100%;

    font-size: 3em;
    font-weight: bold;
}

.ordered .food-name {
    background-color: #F3BFD6;
}

.ordered .comment {
    background-color: #F3BFD6;
    color: firebrick;
}
.ordered .comment:after {
    border-bottom-color:#F3BFD6 !important;
}

/* 環境を見分けやすくするためのラベル */
.run-environment {
    display: inline-block;
    height: 53px;
    margin-top: 10px;
    padding: 8px 25px;
    text-align: center;
    position:relative;
    background:#f48881;

    font-size: 20pt;
    font-weight: bold;
    color:#fff;
}

.run-environment:before{
    content: '';
    z-index: 1;
    position: absolute;
    border: 2px dashed #ffffff;
    top: 7px;
    bottom: 7px;
    left: 7px;
    right: 7px;
    -moz-box-shadow: 0 0 0 3px #f48881;
    -webkit-box-shadow: 0 0 0 3px #f48881;
    box-shadow: 0 0 0 3px #f48881;
}
