/* http://responsivedesign.is/articles/the-printer-is-a-device-too! より */
@media print {

    /* bootstrapのtd,thの背景色を白にする設定を上書きする */
    /* もし td, thに色を付けたい場合は、これより上で設定すること */
    .table td,
    .table th {
        background-color: transparent !important;
    }

    .checklist .order-group-even {
        background-color: #e9e9e9 !important;
    }

    section {
        display: block;
        page-break-before: always;
    }

    pre code {
        page-break-after: always;
    }

    p a, code, pre {
        word-wrap: break-word;
    }

    img {
        display:none;
    }

    pre a[href]:after {
        content: "";
    }


    pre abbr[title]:after {
        content: "";
    }

    pre   .ir a:after,
    pre a[href^="javascript:"]:after,
    pre a[href^="#"]:after {
        content: "";
    }

    .no-print {
        display:none;
    }

    thead {
        display: table-header-group;
    }

    /* http://blog.asial.co.jp/1280 より */
    .print-page {
        width: 172mm;
        height: 251mm;
        page-break-after: always;
        position: relative; /* 固定ヘッダーの基準座標を定義 */
    }

    .print_page:last-child{
        page-break-after: auto; /* 最後のページの改ページを防ぐ */
    }

    .print-page:before {
        position: absolute;
        top: 0;
        right:0;
        font-size: 14pt;
        font-weight: bold;
        content: "【" attr(print-title) "】";
    }


}
