/* http://responsivedesign.is/articles/the-printer-is-a-device-too! より */
@media print {

    /* bootstrapのtd,thの背景色を白にする設定を上書きする */
    /* もし td, thに色を付けたい場合は、これより上で設定すること */
    .table td,
    .table th {
        background-color: transparent !important;
    }

    .checklist .order-group-even {
        background-color: #e9e9e9 !important;
    }

    section {
        display: block;
        page-break-before: always;
    }

    pre code {
        page-break-after: always;
    }

    p a, code, pre {
        word-wrap: break-word;
    }

    img {
        display:none;
    }

    pre a[href]:after {
        content: "";
    }


    pre abbr[title]:after {
        content: "";
    }

    pre   .ir a:after,
    pre a[href^="javascript:"]:after,
    pre a[href^="#"]:after {
        content: "";
    }

    .no-print {
        display:none;
    }

    thead {
        display: table-header-group;
    }

    tfoot {
        display: table-footer-group;
    }

    /* http://blog.asial.co.jp/1280 より */
    .print-page {
        position: relative; /* 固定ヘッダーの基準座標を定義 */
    }

    .print-page:before {
        position: absolute;
        top: 0;
        right:0;
        font-size: 14pt;
        font-weight: bold;
        content: "【" attr(print-title) "】";
    }
}


/* page-break-afterを使って改ページさせると、内容が複数ページにわたる場合に
   適切に改行がされない場合がある。
   この問題を回避するために、改ページ専用の要素を追加することにした(#252 に経緯あり)
 */
.page-break {
    font-size: 1px;
    margin: 0;
    border: 0;
}

.page-break span {
    visibility: hidden;
}

@media print {
    .page-break {
        page-break-after: always;
    }
}
