<div class="content">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">管理インデックス</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a ng-click="showAdminIndex();">メニュー一覧</a></li>
                <li class="active"><a ng-click="showCreateOrderMenu();">メニュー作成</a></li>
            </ul>
        </div>
    </nav>
    <div>
        <div class="day-tab" style="border-bottom: 1px solid #DDDDDD; padding-bottom:5px;">
            <ul class="nav nav-pills day-tabs">
                <li id="day-{{daily_menu.menu_date.format('YYYYMMDD')}}" ng-class="{'active': is_day_selected(daily_menu.menu_date)}" ng-repeat="daily_menu in daily_menus">
                    <a href="" ng-click="choose_day(daily_menu)">{{daily_menu.menu_date.format("YYYY/MM/DD (ddd)")}}</a>
                </li>
            </ul>
        </div>
        <div class="menu-list" class="clearfix col-md-11" style="padding-top: 5px;">
            <div class="row col-md-offset-1" ng-repeat="group in group_menu_items">
              <div class="col-md-2 menu" ng-repeat="menu_item in group" ng-class="{'selected': is_item_selected(menu_item)}" ng-click="choose_item(menu_item)">
                <div class="caption">
                    <div>【{{menu_item.shop_name}}】</div>
                    <div> {{menu_item.name}}</div>
                    <div class="text-right">{{menu_item.price_on_order}}円</div>
                </div>
                <a href="" class="thumbnail">
                    <img src="/assets/images/JA60.jpg" alt="..." width="100px" height="100px">
                </a>
                <div class="caption text-center menu-select-status" ng-bind-html="render_item_select_status(menu_item)"></div>
              </div>
              <div class="clearfix visible-md" ng-show="$last"></div>
            </div>
        </div>
    </div>
</div>
