<style type="text/css">
.tile {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    background: #fff;
    margin-bottom: 10px;
}
.empty {
    background: #d3d3d3;
    padding: 30px;
}

.selected {
    border: 1px solid #d3d3d3;
    padding: 10px;
}

.reset-item {
    position:absolute;
    top:-0.3em;
    right:0px;
    font-size:200%;
}

div.menu-item .thumbnail {
    margin-bottom: 0px;
}

</style>
<div class="content">
    <div ng-include="'/views/admin/_header'" ng-controller="AdminHeaderController"></div>

    <div>
        <div class="day-tab" style="border-bottom: 1px solid #DDDDDD; padding-bottom:5px; padding-left: 10px;">
        <ul class="nav nav-pills day-tabs">
            <li><button type="button" class="btn btn-default" ng-click="show_calendar();">
                <span class="glyphicon glyphicon-calendar"></span>
                <div id='datetimepicker' style="display:inline;"><input type='text' class="form-control" style="visibility:hidden;width:1px;height:1px;padding:0;"/></div>
                </button>
            </li>
            <li class="divider"></li>
            <li id="day-{{daily_menu.menu_date|localdate:YYYYMMDD}}" ng-class="{'active': is_day_selected(daily_menu.menu_date)}" ng-repeat="daily_menu in daily_menus">
                <a href="" ng-click="choose_day(daily_menu)">{{daily_menu.menu_date|localdate:"YYYY/MM/DD (ddd)"}}</a>
            </li>
        </ul>
        </div>
        <div class="container-fluid selected-bento" style="margin-top:10px;">
            <div class="row">
                <div class="col-md-11 col-md-offset-1">
                    <div class="row">
                        <div class="col-md-10"><span class="label label-default" style="font-size:18px;">お弁当</span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2" ng-repeat="n in [] | range:5">
                            <div class="tile" ng-class="class_for_tile(n)" ng-click="select_item(n)">
                                <div class="menu-item" ng-show="item_is_selected(n)">
                                    <div class="caption">
                                        <div>【{{selected_items[n].shop_name}}】</div>
                                        <div> {{selected_items[n].name}}</div>
                                        <div class="text-right">{{selected_items[n].price_on_order}}円</div>
                                    </div>
                                    <a href="" class="thumbnail" ng-bind-html="render_image(selected_items[n])"></a>
                                </div>
                                <div class="menu-item" ng-hide="item_is_selected(n)">{{selected_items[n].name}}</div>
                            </div>
                            <span class="glyphicon glyphicon-remove-sign reset-item" ng-click="reset_item(n)" ng-show="item_is_selected(n)"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2" ng-repeat="n in [] | range:5">
                            <div class="tile" ng-class="class_for_tile(n+5)" ng-click="select_item(n+5)">
                                <div ng-show="item_is_selected(n+5)">
                                    <div class="caption">
                                        <div>【{{selected_items[n+5].shop_name}}】</div>
                                        <div> {{selected_items[n+5].name}}</div>
                                        <div class="text-right">{{selected_items[n+5].price_on_order}}円</div>
                                    </div>
                                    <a href="" class="thumbnail" ng-bind-html="render_image(selected_items[n+5])"></a>
                                </div>
                                <div ng-hide="item_is_selected(n+5)">{{selected_items[n+5].name}}</div>
                            </div>
                            <span class="glyphicon glyphicon-remove-sign reset-item" ng-click="reset_item(n+5)" ng-show="item_is_selected(n+5)"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid selected-side" style="margin-top:10px;">
            <div class="row">
                <div class="col-md-11 col-md-offset-1">
                    <div class="row">
                        <div class="col-md-10"><span class="label label-default" style="font-size:18px;">サイドメニュー</span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2" ng-repeat="n in [] | range:5">
                            <div class="tile" ng-class="class_for_tile(n+10)" ng-click="select_item(n+10)">
                                <div ng-show="item_is_selected(n+10)">
                                    <div class="caption">
                                        <div>【{{selected_items[n+10].shop_name}}】</div>
                                        <div> {{selected_items[n+10].name}}</div>
                                        <div class="text-right">{{selected_items[n+10].price_on_order}}円</div>
                                    </div>
                                    <a href="" class="thumbnail" ng-bind-html="render_image(selected_items[n+10])"></a>
                                </div>
                                <div ng-hide="item_is_selected(n+10)">{{selected_items[n+10].name}}</div>
                            </div>
                            <span class="glyphicon glyphicon-remove-sign reset-item" ng-click="reset_item(n+10)" ng-show="item_is_selected(n+10)"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>