<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()">&times;</button>
    <h4>商品選択</h4>
</div>
<div class="modal-body">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <p class="navbar-text">お弁当</p>
            </div>
            <div class="navbar-collapse">
                <button type="button" class="btn btn-default navbar-btn" disabled="disabled">肉</button>
                <button type="button" class="btn btn-default navbar-btn" disabled="disabled">魚</button>
                <button type="button" class="btn btn-default navbar-btn" disabled="disabled">人気</button>
                <button type="button" class="btn btn-default navbar-btn" disabled="disabled">新入荷</button>
                <button type="button" class="btn btn-info navbar-btn select-shops" ng-click="selectShops()">店 : {{renderFilterShop()}}</button>
            </div>
        </div>
    </nav>
    <div class="menu-items container-fluid">
        <div class="row" ng-show="isEmpty()">
            <div class="col-md-8 no-data">対象の商品がありません</div>
        </div>
        <div class="menu-item-list row" ng-hide="isEmpty()" ng-repeat="group in groupMenuItems">
            <div class="menu-item-container col-xs-12 col-sm-6 col-md-4" ng-click="selectThis(menuItem)" ng-repeat-start="menuItem in group track by $index">
                <div class="menu-item-sm">
                    <div class="caption">
                        <div class="shop-name">{{menuItem.shopName}}</div>
                        <div class="food-name">{{menuItem.name}} <span oot-reduced-price menu-item="menuItem"></span></div>
                    </div>
                    <div class="food-image">
                        <a href="" class="thumbnail" ng-bind-html="renderImage(menuItem)"></a>
                    </div>
                    <div class="comment label label-success" ng-class="{'hidden':(menuItem.comment | isEmptyOrUndefined)}">{{menuItem.comment}}</div>
                    <div class="selected-mark" ng-show="isSelected(menuItem)"><p>選択中</p></div>
                </div>
            </div>
            <div class="clearfix visible-md" ng-if="($index + 1) % 3 === 0"></div>
            <div class="clearfix visible-sm" ng-if="($index + 1) % 2 === 0"></div>
            <div ng-repeat-end=""></div>
        </div>
    </div>
    <span us-spinner spinner-key="spinner" style="position: absolute;display: block;top: 100px;left: 50%;"></span>
</div>
