		<div class="content">
			<div class="message">
				<ul>
					<li><span style="color:red">商品をクリックすると、注文登録します。</span>キャンセルは、もう１回押してください。終了は、そのままウインドウ閉じてください。</li>
					<li>むやみに商品を連打しないでください。<span style="color:red">1クリックで注文・取消を実行</span>します。</li>
					<li>このサービスは、みなさまの善意の協力により成り立っています。みなさまのご協力に感謝します。</li>
				</ul>
			</div>
			<div class="day">
				<div class="day-header">
					<div class="date">2014年2月2日 (日)</div>
					<div class="small-total">当日合計: 530円</div>
					<div class="clear"></div>
				</div>
				<div class="choose-list page1">
					<div class="menu">
						<div class="shop-name">銀座初音</div>
						<div class="food-name">ロロロロロロロロロロロロロロロロロロロロロロロロロロロロロロロロロロロロロロロロロロロロロロロロロロロロロロロ</div>
						<div class="food-image"><img src="/assets/images/JA60.jpg"></div>
						<div class="pop-message">ボリュームたっぷり！</div>
						<div class="food-price">530円</div>
					</div>
					<div class="menu selected">
						<div class="shop-name">銀座初音</div>
						<div class="food-name">カルビハンバーグ弁当</div>
						<div class="food-image"><img src="/assets/images/JA60.jpg"></div>
						<div class="pop-message">ボリュームたっぷり！</div>
						<div class="food-price">530円</div>
					</div>
					<div class="menu">
						<div class="shop-name">銀座初音</div>
						<div class="food-name">カルビハンバーグ弁当</div>
						<div class="food-image">
							<img src="/assets/images/JA60.jpg">
							<img class="pop-rt" src="/assets/images/menu/pop-001.png">
						</div>
						<div class="pop-message">ボリュームたっぷり！</div>
						<div class="food-price">530円</div>
					</div>
					<div class="menu">
						<div class="shop-name">銀座初音</div>
						<div class="food-name">カルビハンバーグ弁当</div>
						<div class="food-image">
							<img src="/assets/images/JA60.jpg">
						</div>
						<div class="pop-message">ボリュームたっぷり！</div>
						<div class="food-price"><span style="color:red;font-weight:bold;">今だけ30円引！　500円</span></div>
					</div>
					<div class="menu">
						<div class="shop-name">銀座初音</div>
						<div class="food-name">カルビハンバーグ弁当</div>
						<div class="food-image"><img src="/assets/images/JA60.jpg"></div>
						<div class="pop-message">ボリュームたっぷり！</div>
						<div class="food-price">530円</div>
					</div>
					<div class="menu">
						<div class="shop-name">銀座初音</div>
						<div class="food-name">カルビハンバーグ弁当</div>
						<div class="food-image">
							<img class="pop-lt" src="/assets/images/menu/pop-002.png">
							<img src="/assets/images/JA60.jpg">
						</div>
						<div class="pop-message">ボリュームたっぷり！</div>
						<div class="food-price">530円</div>
					</div>
					<div class="clear"></div>

					<div class="other-page">
						<div class="button" ng-click="showSideDishes();">サラダを選ぶ</div>
						<div class="other-info">サラダは注文していません。</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>

			<div class="day">
				<div class="day-header">
					<div class="date">2014年2月3日 (月)</div>
					<div class="small-total">注文していません</div>
					<div class="clear"></div>
				</div>
				<div class="choose-list page1">
					<div class="menu">
						<div class="shop-name">銀座初音</div>
						<div class="food-name">カルビハンバーグ弁当</div>
						<div class="food-image"><img src="/assets/images/JA60.jpg"></div>
						<div class="pop-message">ボリュームたっぷり！</div>
						<div class="food-price">530円</div>
					</div>
					<div class="menu">
						<div class="shop-name">銀座初音</div>
						<div class="food-name">カルビハンバーグ弁当</div>
						<div class="food-image"><img src="/assets/images/JA60.jpg"></div>
						<div class="pop-message">ボリュームたっぷり！</div>
						<div class="food-price">530円</div>
					</div>
					<div class="clear"></div>

					<div class="other-page">
						<div class="button">サラダを選ぶ</div>
						<div class="other-info">サラダは注文していません。</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
