    <div class="content">
        <div class="message">
            <ul>
                <li><span style="color:red">商品をクリックすると、注文登録します。</span>キャンセルは、もう１回押してください。終了は、そのままウインドウ閉じてください。</li>
                <li>むやみに商品を連打しないでください。<span style="color:red">1クリックで注文・取消を実行</span>します。</li>
                <li>このサービスは、みなさまの善意の協力により成り立っています。みなさまのご協力に感謝します。</li>
            </ul>
        </div>
        <div class="day" ng-repeat="daily_menu in daily_menus | orderBy:menu_date">
            <div class="day-header">
                <div class="date">{{daily_menu.menu_date}}</div>
                <div class="small-total">当日合計: 530円</div>
                <div class="clear"></div>
            </div>
            <div class="choose-list page1">
                <div class="menu" ng-repeat="item in daily_menu.detail_items">
                    <div class="shop-name">{{item.menu_item.shop_name}}</div>
                    <div class="food-name">{{item.menu_item.name}}</div>
                    <div class="food-image"><img src="assets/images/{{item.menu_item.item_image_path}}"></div>
                    <div class="food-price">{{item.menu_item.price_on_order}}円</div>
                </div>

                <div class="clear"></div>

                <div class="other-page">
                    <div class="button" ng-click="showSideDishes();">サラダを選ぶ</div>
                    <div class="other-info">サラダは注文していません。</div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
