<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()">&times;</button>
    <h4>注文数指定</h4>
</div>
<div class="modal-body">

    <div class="btn-group btn-group-lg">
        <button type="button" class="btn btn-primary" style="margin-right:5px;" ng-click="vm.selectThis(n+1)" ng-repeat="n in [] | range:5">{{n+1}}個</button>
    </div>

    <div class="btn-group btn-group-lg">
        <button type="button" class="btn btn-primary" style="margin-right:5px;" ng-click="vm.selectThis(n+6)" ng-repeat="n in [] | range:5">{{n+6}}個</button>
    </div>
</div>
