<div class="modal-header">
</div>
<div class="modal-body">
    <div class="menu">
        <div class="shop-name">サラダ</div>
        <div class="food-name">サラダ１</div>
        <div class="food-image">
            <img src="/assets/images/sarad.png">
            <img class="pop-rt" src="/assets/images/menu/pop-001.png">
        </div>
        <div class="pop-message">へるしー</div>
        <div class="food-price">530円</div>
    </div>
    <div class="menu">
        <div class="shop-name">サラダ</div>
        <div class="food-name">サラダ２</div>
        <div class="food-image"><img src="/assets/images/sarad.png"></div>
        <div class="pop-message">へるしー！</div>
        <div class="food-price"><span style="color:red">フェア開催中！</span>530円</div>
    </div>
</div>
<div class="modal-footer">
</div>
