	<div class="content">
		<div class="content-header">ログインフォーム</div>
		<div class="login-form">
			<form>
				メールアドレス: 
                <input type="text"><br>
				<button class="button">ログイン</button>
			</form>
		</div>
	</div>
		
	<div class="message">
		<ul>
			<li>このサイトは、Google Chrome、Firefox、Safari、Operaでのご利用を推奨します。</li>
			<li>要はMicrosoft Internet Explorer <span style="color:red">以外</span>です。</li>
			<li>NINTENDO DSでも、恐らく動きます。</li>
			<li>Internet Explorer 9は、動くかもしれません。が、知りません。</li>
		</ul>
	</div>
