    <div class="content">
        <div class="content-header">サインイン</div>
        <div class="login-form">
            <form>
                    <label for="user.email">メールアドレス</label>
                    <input type="text" ng-model="user.email" id="user.email"><br>

                    <label for="user.password">パスワード</label>
                    <input type="password" ng-model="user.password" id="user.password"><br>

                    <button class="button" ng-click="signin();">サインイン</button>
                </div>
            </form>
        </div>
    </div>

    <div class="message">
        <ul>
            <li>このサイトは、Google Chrome、Firefox、Safari、Operaでのご利用を推奨します。</li>
            <li>要はMicrosoft Internet Explorer <span style="color:red">以外</span>です。</li>
            <li>NINTENDO DSでも、恐らく動きます。</li>
            <li>Internet Explorer 9は、動くかもしれません。が、知りません。</li>
        </ul>
    </div>
