<div class="content checklist col-xs-12 col-sm-12 col-md-12">

    <div class="content-header row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <ul class="nav nav-tabs">
                <li role="presentation"><a href="/#/order">注文する</a></li>
                <li role="presentation" class="active"><a href="/#/view-order">注文を確認する</a></li>
            </ul>
        </div>
    </div>

    <div class="content-body row">
        <div class="col-xs-12 col-sm-12 col-md-12">

            <div class="order-summary" style="margin: 5px;">
                <div class="order-summary-header" style="margin-bottom: 10px;">
                    <div class="row">
                        <div class="order-summary-title col-xs-12 col-sm-12 col-md-12" style="width:100%;background-color: #92D13D;color:white;font-size: 1.5em; font-weight: bold; padding: 0.2em 1em; margin-bottom:5px;">あなたの注文</div>
                        <a class="btn btn-default col-md-2" style="font-size: 120%;" href="/#/view-order/{{vm.firstDayLastWeek.format('YYYY-MM-DD')}}"><span class="glyphicon glyphicon-arrow-left"></span> 前の週</a>
                        <a class="btn btn-default col-md-2 col-md-offset-3" style="font-size: 120%;" href="/#/view-order/{{vm.firstDayThisWeek.format('YYYY-MM-DD')}}">今週</span></a>
                        <a class="btn btn-default col-md-2 col-md-offset-3" style="font-size: 120%;" href="/#/view-order/{{vm.firstDayNextWeek.format('YYYY-MM-DD')}}">次の週 <span class="glyphicon glyphicon-arrow-right"></span></a>
                    </div>
                </div>
                <div class="order-summary-body">
                    <div class="row">
                        <table class="order-summary col-xs-12 col-sm-12 col-md-12">
                            <thead>
                            </thead>
                            <tbody>
                            <tr>
                                <td style="width:20%;" ng-class="{'active' : dayInfo.day.valueOf() == vm.currentDate.valueOf()}"  ng-repeat="dayInfo in vm.daysCurrentWeek">
                                    <div style="position:relative;" oot-order-summary order="dayInfo.dailyOrder"></div>
                                    {{vm.renderTotalReducedOnOrder(dayInfo.dailyOrder)}}
                                </td>
                            </tr>
                            <tr>
                                <th class="text-center" ng-class="{'active' : dayInfo.day.valueOf() == vm.currentDate.valueOf()}"  ng-repeat="dayInfo in vm.daysCurrentWeek">
                                    <a href="/#/view-order/{{dayInfo.day.format('YYYY-MM-DD')}}" style="font-size:150%;color:white;">{{dayInfo.day.format('M/D (ddd)')}}</a>
                                </th>
                            </tr>
                            <tr>
                                <td class="text-center" style="background-color: white;" ng-repeat="dayInfo in vm.daysCurrentWeek">
                                    <span class="glyphicon glyphicon-chevron-down" style="font-size: 200%; color: #F3BFD6;" ng-if="dayInfo.day.valueOf() == vm.currentDate.valueOf()"></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="order-summary" style="margin: 5px;">
                <div class="order-summary-header" style="margin-bottom: 10px;">
                    <div class="row">
                        <div class="order-summary-title col-xs-12 col-sm-12 col-md-12" style="width:100%;background-color: #F3BFD6;color:white;font-size: 1.5em; font-weight: bold; padding: 0.2em 1em;">{{vm.currentDate.format('M月D日 (ddd)')}}の、みんなの注文</div>
                    </div>
                </div>
                <div class="order-summary-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12" oot-checklist-detail dailymenu="vm.allCurrentDay.dailyMenu" dailyorders="vm.allCurrentDay.dailyOrders" templateurl="/views/_partial/_checklist-detail_for_user"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>