<div class="content checklist col-xs-12 col-sm-12 col-md-12">

    <div class="content-header row">
        <div class="nav-bar col-xs-12 col-sm-12 col-md-12" ng-include="Assets.versioned('/views/_header')"></div>
    </div>

    <div class="content-body row">
        <div class="col-xs-12 col-sm-12 col-md-12">

            <div class="order-summary" style="margin: 10px 5px;">
                <div class="order-summary-header" style="margin-bottom: 10px;">
                    <div class="row">
                        <div class="order-summary-title col-xs-12 col-sm-12 col-md-12">あなたの注文</div>
                        <a class="btn btn-default col-md-2" style="font-size: 120%;" href="/#/view-order/{{vm.firstDayLastWeek.format('YYYY-MM-DD')}}"><span class="glyphicon glyphicon-arrow-left"></span> 前の週</a>
                        <a class="btn btn-default col-md-2 col-md-offset-3" style="font-size: 120%;" href="/#/view-order/{{vm.firstDayThisWeek.format('YYYY-MM-DD')}}">今週</span></a>
                        <a class="btn btn-default col-md-2 col-md-offset-3" style="font-size: 120%;" href="/#/view-order/{{vm.firstDayNextWeek.format('YYYY-MM-DD')}}">次の週 <span class="glyphicon glyphicon-arrow-right"></span></a>
                    </div>
                </div>
                <div class="order-summary-body">
                    <div class="row">
                        <table class="week-summary col-xs-12 col-sm-12 col-md-12">
                            <thead>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="day-summary" style="width:20%;" ng-class="{'active' : vm.isCurrentDay(dayInfo.day)}"  ng-repeat="dayInfo in vm.daysCurrentWeek">
                                    <div style="position:relative;" oot-order-summary order="dayInfo.dailyOrder"></div>
                                </td>
                            </tr>
                            <tr>
                                <th class="day text-center" ng-class="{'active' : vm.isCurrentDay(dayInfo.day)}"  ng-repeat="dayInfo in vm.daysCurrentWeek">
                                    <a class="day" href="/#/view-order/{{dayInfo.day.format('YYYY-MM-DD')}}">{{dayInfo.day.format('M/D (ddd)')}}</a>
                                </th>
                            </tr>
                            <tr>
                                <td class="day-cursor text-center" ng-repeat="dayInfo in vm.daysCurrentWeek">
                                    <span class="glyphicon glyphicon-chevron-down" ng-if="vm.isCurrentDay(dayInfo.day)"></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="order-summary" style="margin: 5px;">
                <div class="order-summary-header" style="margin-bottom: 10px;">
                    <div class="row">
                        <div class="order-summary-title order-summary-title-everyone col-xs-12 col-sm-12 col-md-12">{{vm.currentDate.format('M月D日 (ddd)')}} のみんなの注文</div>
                    </div>
                </div>
                <div class="order-summary-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12" oot-checklist-detail dailymenu="vm.allCurrentDay.dailyMenu" dailyorders="vm.allCurrentDay.dailyOrders" templateurl="/views/_partial/_checklist-detail_for_user"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>