<div class="content checklist col-xs-12 col-sm-12 col-md-12">

    <div class="content-header row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <ul class="nav nav-tabs">
                <li role="presentation"><a href="/#/order">注文する</a></li>
                <li role="presentation" class="active"><a href="/#/view-order">注文を確認する</a></li>
            </ul>
        </div>
    </div>

    <div class="content-body row">
        <div class="col-xs-12 col-sm-12 col-md-12">

            <div class="btn-group btn-group-justified" role="group" style="margin-bottom: 10px;">
                <a class="btn btn-default" href="/#/view-order/{{vm.firstDayLastWeek.format('YYYY-MM-DD')}}"><span class="glyphicon glyphicon-arrow-left"></span> 前の週</a>
                <a class="btn btn-default" href="/#/view-order/{{vm.firstDayThisWeek.format('YYYY-MM-DD')}}">今週</span></a>
                <a class="btn btn-default" href="/#/view-order/{{vm.firstDayNextWeek.format('YYYY-MM-DD')}}">次の週 <span class="glyphicon glyphicon-arrow-right"></span></a>
            </div>

            <div class="order-summary">
                <div class="order-summary-header" style="width:100%;background-color: #92D13D;color:white;font-size: 1.5em; padding: 0.2em 1em;">
                    あなたの注文 (1週間)
                </div>
                <div class="order-summary-body">
                    <table class="order-summary table table-bordered">
                        <thead>
                        <tr>
                            <th class="day" ng-class="{'active' : dayInfo.day.valueOf() == vm.currentDate.valueOf()}" ng-repeat="dayInfo in vm.daysCurrentWeek">
                                <div style="position:relative">
                                    <a href="/#/view-order/{{dayInfo.day.format('YYYY-MM-DD')}}">{{dayInfo.day.format('M/D (ddd)')}}</a>
                                    <div class="total-reduced-on-order">{{vm.renderTotalReducedOnOrder(dayInfo.dailyOrder)}}</div>
                                </div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td ng-class="{'active' : dayInfo.day.valueOf() == vm.currentDate.valueOf()}"  ng-repeat="dayInfo in vm.daysCurrentWeek">
                                <div style="position:relative;" oot-order-summary order="dayInfo.dailyOrder"></div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <hr>

            <div class="order-summary">
                <div class="order-summary-header" style="width:100%;background-color: #92D13D;color:white;font-size: 1.5em; padding: 0.2em 1em;">
                    みんなの注文 {{vm.currentDate.format('M月D日 (ddd曜日)')}}
                </div>
                <div class="order-summary-body">
                    <div oot-checklist-detail dailymenu="vm.allCurrentDay.dailyMenu" dailyorders="vm.allCurrentDay.dailyOrders" templateurl="/views/_partial/_checklist-detail_for_user"></div>
                </div>
            </div>

        </div>
    </div>

</div>