@(appMetadata: AppMetadata)
<!DOCTYPE html>
<html  xmlns:ng="http://angularjs.org" id="ng-app">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>美味しいお弁当を食べたい！</title>
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/dialogs.min.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/jquery.fileupload.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/jquery.fileupload-ui.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/oot.css")">
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/components/ie-shim.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/components/html5shiv.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/components/respond.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/helpers.js")"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="page-header row no-print">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <h1>美味しいお弁当を食べたい！</h1>
                    @if(!appMetadata.isRunInfoProdDefault) {
                        <p class="run-environment">@appMetadata.getRunInfo()</p>
                    }
                </div>
            </div>
            <div class="row" ng-view ng-cloak></div>
            <div class="page-footer row no-print">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div>
                        <span class="powered-by">Powered by <a href="https://www.playframework.com/">Play Framework</a> & <a href="https://angularjs.org/">AngularJS</a></span>
                        /
                        <span class="copyright">Development by NES アジャイルコミュニティ</span>
                    </div>
                    <div class="app-metadata">
                        <span class="version">App Version : @appMetadata.getVersion</span>
                    </div>
                </div>
            </div>
            <div id="user-links" ng-include="Assets.versioned('/views/_partial/_user-links')"></div>
            <span us-spinner spinner-key="spinner" class="us-spinner" style="position: absolute;display: block;top: 100px;left: 50%;"></span>
        </div>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/components/jquery.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/components/jquery.ui.widget.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/components/jquery.iframe-transport.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/components/jquery.fileupload.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/components/angular.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/components/angular-resource.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/components/angular-route.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/components/angular-sanitize.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/components/angular-translate.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/components/angular-cookie.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/components/dialogs.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/components/dialogs-default-translations.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/components/bootstrap.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/components/collapse.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/components/transition.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/components/ui-bootstrap-tpls.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/components/angular-locale_ja-jp.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/components/spin.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/components/angular-spinner.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/components/moment-with-locales.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/components/moment-timezone.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/components/moment-timezone-utils.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/components/holder.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/components/html5shiv.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/components/respond.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/components/underscore.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/components/underscore.string.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/components/jquery.blockUI.js")"></script>

        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/app.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/constants.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/routers.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/services.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/filters.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/controllers.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/directives.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/main.js")"></script>
    </body>
</html>
