<nav class="navbar navbar-default admin-header" role="navigation" ng-controller="AdminHeaderController as header">
    <div class="navbar-header">
        <a class="navbar-brand">管理インデックス</a>
    </div>
    <ul class="nav navbar-nav">
        <li ng-class="{'active':header.isActive('/admin/index')}"><a ng-click="header.showAdminIndex();">ダッシュボード</a></li>
        <li ng-class="{'active':header.isActive('/admin/daily-menus/new')}"><a ng-click="header.showOrderMenuCreate();">メニュー作成</a></li>
        <li ng-class="{'active':header.isActive('/admin/menu-items/index')}"><a ng-click="header.showMenuItemsIndex();">商品データ一覧</a></li>
        <li ng-class="{'active':header.isActive('/admin/menu-items/import')}"><a ng-click="header.showMenuItemsImport();">商品データ一括登録</a></li>
        <li ng-class="{'active':header.isActive('/admin/menu-item-images/import')}"><a ng-click="header.showMenuItemImagesImport();">商品画像一括登録</a></li>
        <li ng-class="{'active':header.isActive('/admin/users/index')}"><a ng-click="header.showUsersIndex();">ユーザ一覧</a></li>
        <li ng-class="{'active':header.isActive('/admin/settings')}"><a ng-click="header.showSettings();">設定</a></li>
    </ul>
</nav>
