<div class="content admin-cash-book col-xs-12 col-sm-12 col-md-12">

    <div class="content-header no-print row">
        <div class="nav-bar col-xs-12 col-sm-12 col-md-12" ng-include="'/views/admin/_header'"></div>
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="title">入出金管理台帳</div>
        </div>
    </div>

    <div class="content-body row">

        <div class="cash-book print-page col-xs-12 col-sm-12 col-md-12" ng-class="{'no-print' : cashBook.isEmpty()}" print-title="入出金管理台帳" id="cash-book-{{cashBook.targetDate.format('YYYYMMDD')}}" ng-repeat="cashBook in cashBooks">
            <div class="cash-book-header">{{cashBook.targetDate.format("M月D日 (ddd曜日)")}}</div>
            <div class="cash-book-body">
                <p class="no-data" ng-if="cashBook.isEmpty()">メニューが登録されていません。</p>
                <table class="table table-bordered table-condensed cash-book" id="cash-book-details-{{cashBook.targetDate.format('YYYYMMDD')}}" ng-if="!cashBook.isEmpty()">
                    <thead>
                    <tr>
                        <th class="code" width="93%">コード</th>
                        <th class="num-orders" width="7%">数量</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="detailItem in cashBook.detailItems">
                        <td class="code">{{detailItem.menuItem.code | karamoji}}</td>
                        <td class="num-orders count">{{detailItem.numOrders}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>