    <div class="content admin-checklist">
        <div ng-include="'/views/admin/_header'" ng-controller="AdminHeaderController"></div>

        <div class="content-header">チェック表 {{menuDate.format('YYYY/MM/DD (ddd)')}}</div>

        <div ng-show="menuOrOrderIsEmpty()">
            <p class="no-data">メニューまたは注文がありません。</p>
        </div>

        <div ng-show="!menuOrOrderIsEmpty()">
            <div class="pull-right">総額: <span class="total-price-on-order">{{totalReducedOnOrder() | currencyNoFraction:""}}円</span></div>
            <div class="clearfix"></div>
            <table class="table table-bordered table-condensed checklist" id="checklist">
                <thead>
                    <tr>
                        <th class="check-status" rowspan=2 width="5%">チェック</th>
                        <th class="user-name" rowspan=2 width="20%">氏名</th>
                        <th class="shop-name" ng-repeat="item in itemList" width="{{75/itemList.length}}%">{{item.shopName}}</th>
                    </tr>
                    <tr>
                        <th class="food-name" ng-repeat="item in itemList">{{item.name}}　<span oot-reduced-price menu-item="item"></span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-class="(checkitem.orderGroup % 2 === 0) ? 'order-group-even' : 'order-group-odd'" ng-repeat="checkitem in checklist">
                        <td></td>
                        <td class="user-name">{{checkitem.userName}}</td>
                        <td class="order-status" ng-repeat="item in itemList">{{renderNumOrders(checkitem.orderStatuses[item.id].numOrders)}}</td>
                    </tr>
                </tbody>
            </table>
         </div>
    </div>
