    <div class="content">
        <div class="content-header">チェック表 {{menu_date | date: 'yyyy/MM/dd (EEE)'}}</div>
            <div ng-show="daily_menu.detail_items == null || daily_menu.detail_items.length === 0">
                <p class="no-data">メニューにお弁当がありません。</p>
            </div>

            <div ng-show="daily_menu.detail_items != null && daily_menu.detail_items.length >= 0">
                <table class="table table-bordered table-condensed checklist">
                    <thead>
                        <tr>
                            <th rowspan=2>チェック</th>
                            <th rowspan=2>氏名</th>
                            <th class="shop-name" ng-repeat="item in daily_menu.detail_items">{{item.menu_item.shop_name}}</th>
                        </tr>
                        <tr>
                            <th class="item-name" ng-repeat="item in daily_menu.detail_items">{{item.menu_item.name}}</th>
                        </tr>
                    </thead>
                </table>
             </div>
        </div>
    </div>