    <div class="content">
        <div class="content-header">管理インデックス</div>

            <div class="order-management">
                <div class="day" ng-repeat="daily_menu in daily_menus | orderBy:menu_date">
                    <h3>{{daily_menu.menu_date.format('YYYY/MM/DD (ddd)')}}</h3>
                     <table class="table table-bordered order-summary">
                         <thead>
                             <tr>
                                 <th></th>
                                 <th>注文数</th>
                                 <th>金額</th>
                             </tr>
                         </thead>
                         <tbody>
                             <tr>
                                 <th>お弁当</th>
                                 <td class="count">x個</td>
                                 <td class="price">xxxx円</td>
                             </tr>
                             <tr>
                                 <th>サラダ</th>
                                 <td class="count">x個</td>
                                 <td class="price">xxxx円</td>
                             </tr>
                         </tbody>
                         <tfoot>
                             <tr>
                                 <th>合計</th>
                                 <td class="count">x個</th>
                                 <td class="price">xxxx円</th>
                             </tr>
                         </tfoot>
                     </table>
                    <ul class="commands">
                        <li><button class="btn btn-success button" disabled>メニュー選択</button></li>
                        <li><button class="btn btn-success button" disabled>表示編集</button></li>
                        <li><button class="btn btn-success button" disabled>注文締切</button></li>
                        <li><button class="btn btn-success button" disabled>確認票</button></li>
                        <li><button class="btn btn-success button" disabled>注文票</button></li>
                        <li><button class="btn btn-success button" ng-click="showChecklist(daily_menu);">チェック表</button></li>
                        <li><button class="btn btn-success button" disabled>削除</button></li>
                    </ul>
                <div class="clear"></div>
                </div>
            </div>


    </div>