    <div class="content">
        <div class="content-header">管理インデックス</div>

            <div class="order-management">
                <div class="day">
                    <h3>2014年2月2日(日)</h3>
                     <table class="order-summary">
                         <thead>
                             <tr>
                                 <th class="label">分類</th>
                                 <th class="count">注文数</th>
                                 <th class="price">金額</th>
                             </tr>
                         </thead>
                         <tbody>
                             <tr>
                                 <th class="label">お弁当</th>
                                 <td class="count">2個</td>
                                 <td class="price">1,2000円</td>
                             </tr>
                             <tr>
                                 <th class="label">サラダ</th>
                                 <td class="count">3個</td>
                                 <td class="price">1,500円</td>
                             </tr>
                         </tbody>
                         <tfoot>
                             <tr>
                                 <th class="label">合計</th>
                                 <th class="count">5個</th>
                                 <th class="price">13,500円</th>
                             </tr>
                         </tfoot>
                     </table>
                    <ul class="commands">
                        <li class="button">メニュー選択</li>
                        <li class="button">表示編集</li>
                        <li class="button">注文締切</li>
                        <li class="button">確認票</li>
                        <li class="button">注文票</li>
                        <li class="button">チェック表</li>
                        <li class="button">削除</li>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>


    </div>