<div class="content admin-index col-xs-12 col-sm-12 col-md-12">

    <div class="content-header row">
        <div class="nav-bar col-xs-12 col-sm-12 col-md-12" ng-include="Assets.versioned('/views/admin/_header')"></div>
    </div>

    <div class="content-body dashboard row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="panel panel-success week-info" ng-repeat="week in vm.weeks">
                <div class="panel-heading">
                    {{week.label}}
                    <span>{{week.startDay.format("M/D (ddd)")}} ～ {{week.endDay.format("M/D (ddd)")}}</span>
                    <div class="input-group pull-right" style="margin-top:-5px;">
                        <button class="btn btn-success" id="show-purchase-order-confirmation-{{week.startDay.format('YYYYMMDD')}}" ng-click="vm.showPurchaseOrderConfirmation(week.startDay)">発注確認シート</button>
                        <button class="btn btn-success" id="show-purchase-order-{{week.startDay.format('YYYYMMDD')}}" ng-click="vm.showPurchaseOrder(week.startDay)">発注シート</button>
                        <button class="btn btn-success" id="show-cash-book-{{week.startDay.format('YYYYMMDD')}}" ng-click="vm.showCashBook(week.startDay)">入出金管理台帳</button>
                        <button class="btn btn-success" id="show-checklist-weekly-{{week.startDay.format('YYYYMMDD')}}" ng-click="vm.showChecklistWeekly(week.startDay)">チェック表</button>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-condensed table-day-status" id="day-status-{{week.startDay.format('YYYYMMDD')}}">
                        <caption>左:総計、右上段:弁当、右下段:サイドメニュー</caption>
                        <thead>
                        <tr>
                            <th></th>
                            <th class="th-day text-center" colspan="2" width="18%" style="position: relative;" ng-repeat="day in week.days">
                                <div class="day">{{day.day.format("D (ddd)")}}</div>
                                <ul class="day-links">
                                    <li class="day-link"><button class="btn btn-glyphicon" id="show-checklist-daily-{{day.day.format('YYYYMMDD')}}" tooltip-placement="bottom" tooltip="チェック表" ng-click="vm.showChecklistDaily(day.day)"><span class="glyphicon glyphicon glyphicon-th-list"></span></button></li>
                                </ul>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th class="text-nowrap">ステータス</th>
                            <td class="status text-center" colspan="2" ng-repeat="day in week.days">
                                {{day.status}}
                                <button class="btn btn-glyphicon" id="edit-daily-menu-{{day.day.format('YYYYMMDD')}}" tooltip-placement="bottom" tooltip="メニュー編集" ng-click="vm.editDailyMenu(day.day)"><span class="glyphicon glyphicon-edit"></span></button>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-nowrap" rowspan="2">注文人数</th>
                            <td class="num-users count" rowspan="2" width="9%" ng-repeat-start="day in week.days">{{day.orderStat.allStat.numUsers | null2nbsp}}</td>
                            <td class="num-users count" ng-repeat-end>{{day.orderStat.bentoStat.numUsers | null2nbsp}}</td>
                        </tr>
                        <tr>
                            <td class="num-users count" ng-repeat="day in week.days">{{day.orderStat.sideStat.numUsers | null2nbsp}}</td>
                        </tr>
                        <tr>
                            <th class="text-nowrap" rowspan="2">注文数</th>
                            <td class="num-orders count" rowspan="2" width="9%" ng-repeat-start="day in week.days">{{day.orderStat.allStat.numOrders | null2nbsp}}</td>
                            <td class="num-orders count" ng-repeat-end>{{day.orderStat.bentoStat.numOrders | null2nbsp}}</td>
                        </tr>
                        <tr>
                            <td class="num-orders count" ng-repeat="day in week.days">{{day.orderStat.sideStat.numOrders | null2nbsp}}</td>
                        </tr>
                        <tr>
                            <th class="text-nowrap" rowspan="2">注文(定価)</th>
                            <td class="total-fixed-on-order price" rowspan="2" width="9%" ng-repeat-start="day in week.days">{{day.orderStat.allStat.totalFixedOnOrder | currencyNoFraction:"" | null2nbsp}}</td>
                            <td class="total-fixed-on-order price" ng-repeat-end>{{day.orderStat.bentoStat.totalFixedOnOrder | currencyNoFraction:"" | null2nbsp}}</td>
                        </tr>
                        <tr>
                            <td class="num-users count" ng-repeat="day in week.days">{{day.orderStat.sideStat.totalFixedOnOrder | currencyNoFraction:"" | null2nbsp}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>