<div class="content admin-order-aggregates">
    <div ng-include="'/views/admin/_header'" ng-controller="AdminHeaderController"></div>

    <div class="content-header">注文表 {{orderDate.format('YYYY/MM/DD (ddd)')}}</div>

    <div ng-show="orderAggregates == null || orderAggregates.length === 0">
        <p class="no-data">注文がありません。</p>
    </div>

    <div ng-show="orderAggregates != null && orderAggregates.length > 0">
        <table class="table table-bordered table-condensed order-aggregates" id="order-aggregates">
            <thead>
            <tr>
                <th class="code">コード</th>
                <th class="num-orders">注文数</th>
            </tr>
            </thead>
            <tbody>
            <tr id="order-aggregate-{{orderAggregate.menu_item_id}}" ng-repeat="orderAggregate in orderAggregates | orderBy:code">
                <td>{{orderAggregate.code | karamoji}}</td>
                <td>{{orderAggregate.numOrders}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
