<div class="content admin-purchase-order-confirmation col-xs-12 col-sm-12 col-md-12">

    <div class="content-header no-print row">
        <div class="nav-bar col-xs-12 col-sm-12 col-md-12" ng-include="'/views/admin/_header'" ng-controller="AdminHeaderController"></div>
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="title">発注確認シート</div>
        </div>
    </div>

    <div class="content-body row">

        <div class="purchase-order-confirmation print-page col-xs-12 col-sm-12 col-md-12" ng-class="{'no-print' : menu.isEmpty()}" print-title="発注確認シート" id="purchase-order-confirmation-{{menu.menuDate.format('YYYYMMDD')}}" ng-repeat="menu in dailyMenus">
            <div class="purchase-order-confirmation-header">{{menu.menuDate.format("M月D日 (ddd曜日)")}}</div>
            <div class="purchase-order-confirmation-body">
                <p class="no-data" ng-if="menu.isEmpty()">メニューが登録されていません。</p>
                <table class="table table-bordered table-condensed purchase-order-confirmation" id="purchase-order-confirmation-details-{{menu.menuDate.format('YYYYMMDD')}}" ng-if="!menu.isEmpty()">
                    <thead>
                    <tr>
                        <th class="register-number" width="5%">レジ</th>
                        <th class="shop-name" width="35%">ショップ名</th>
                        <th class="item-number" width="5%">No</th>
                        <th class="name" width="35%">品名</th>
                        <th class="fixed-on-purchase-exc-tax" width="10%">税抜</th>
                        <th class="fixed-on-purchase-inc-tax" width="10%">税込</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="detailItem in menu.detailItems | orderBy:['menuItem.registerNumber', 'menuItem.shopName', 'menuItem.itemNumber']">
                        <td class="register-number">{{detailItem.menuItem.registerNumber}}</td>
                        <td class="shop-name">{{detailItem.menuItem.shopName}}</td>
                        <td class="item-number">{{detailItem.menuItem.itemNumber}}</td>
                        <td class="name">{{detailItem.menuItem.name}}</td>
                        <td class="fixed-on-purchase-exc-tax price">{{detailItem.menuItem.fixedOnPurchaseExcTax}}</td>
                        <td class="fixed-on-purchase-inc-tax price">{{detailItem.menuItem.fixedOnPurchaseIncTax}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>